.projects{
    padding: 0 3rem 0;
    width: 100%;
}
.title{
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem 0;
}
.card{
    /* background-color: #f3f4f6; */
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.411);
    transition: all 0.3s ease;
    max-width: 500px;
    max-height: 700px;
    overflow: hidden;
}
.card:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.411);
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0;
}
.card p{
    font-size: 1rem;
    font-weight: 400;
    color: #6b7280;
    margin: 0.5rem 0;
}
.tags{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}
.tags span{
    font-size: 0.8rem;
    font-weight: 400;
    color: #6b7280;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 5px;
}
.view-btn {
    position: relative;
    width: 100%;
    height: 300px;
    color: transparent;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    border: none;
    margin-top: 1rem;
    
}

.view-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/git.png) no-repeat center;
    background-size: cover;
    transition: all 0.3s ease;

}

.view-btn:hover::before {
    transform: scale(1.1);
    filter: brightness(0.3);
}

.view-btn:hover {
    color: white;
    border: 2px solid #6b7280;

}

.view-btn:hover::after {
    content: 'View More on Github';
    position: absolute;
    bottom: 20px;
    left: 47.5%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}