.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  gap: 1.5rem;
  /* background-color: aliceblue; */
}
.social-icons {
  display: flex;
  gap: 2rem;
}
.social-icon:hover {
  transform: scale(1.1);
}
#about{
  width: 100%;
  height: 100vh;
}
.right-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:  2rem;
  gap: 1.5rem;
  /* background-color: aliceblue; */
}
.right-section p{
  font-size: 1.5rem;
  font-weight: 400;
  color: gainsboro;
  font-family: "Merienda", cursive;
}
.right-section button{
  padding: 0.5rem 2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
    .social-icons {
      gap: 1rem;
    }
    #about{
      padding: 0 1rem;
      margin-top: 100px;
    }
    .left-container{
      gap: 0.5rem;
    }
    .right-container{
      padding: 0 1rem;
    }
    .right-section h1{
      font-size: 1.5rem;
    }
    .right-section p{
      font-size: 1rem;
    }
    .right-section button{
      padding: 7px 0.7rem 7px;
      font-size: 0.9rem;
    }
}